{% extends "base.html" %}

{% block title %}Продажи и доставка | КИС "МебельГрад"{% endblock %}

{% block content %}
<div class="surface p-4 p-lg-5">
    <div class="text-uppercase text-secondary small">Демо-модуль</div>
    <h1 class="h3 mb-3">Модуль управления продажами, заказами и доставкой</h1>
    <p class="lead mb-3">
        Данный модуль находится в стадии активной разработки и будет доступен в следующей версии КИС "МебельГрад".
    </p>
    <p>
        Целевой контур модуля объединяет CRM, обработку заказов, контроль исполнения,
        формирование счетов и договоров, управление доставкой и прозрачное взаимодействие с клиентами.
    </p>
    <div class="row g-3 mt-2">
        <div class="col-md-4"><div class="surface p-3 h-100">CRM и база клиентов</div></div>
        <div class="col-md-4"><div class="surface p-3 h-100">Обработка заказов и документы</div></div>
        <div class="col-md-4"><div class="surface p-3 h-100">Доставка и отслеживание исполнения</div></div>
    </div>
</div>
{% endblock %}
