{% extends "base.html" %}

{% block title %}Склад и закупки | КИС "МебельГрад"{% endblock %}

{% block content %}
<div class="surface p-4 p-lg-5">
    <div class="text-uppercase text-secondary small">Демо-модуль</div>
    <h1 class="h3 mb-3">Модуль управления складом и закупками</h1>
    <p class="lead mb-3">
        Данный модуль находится в стадии активной разработки и будет доступен в следующей версии КИС "МебельГрад".
    </p>
    <p>
        В целевой реализации модуль будет покрывать планирование потребностей, работу с поставщиками,
        приемку, размещение, адресное хранение, упаковку, отгрузку и аналитику движения ТМЦ.
    </p>
    <div class="row g-3 mt-2">
        <div class="col-md-4"><div class="surface p-3 h-100">Закупки и поставщики</div></div>
        <div class="col-md-4"><div class="surface p-3 h-100">WMS и адресное хранение</div></div>
        <div class="col-md-4"><div class="surface p-3 h-100">Операции приемки и отгрузки</div></div>
    </div>
</div>
{% endblock %}
